<div class="container">

<div class="single-header-3 single-header-2 row no-gutters mb-50 background12 border-radius-5">
    <div class="col-lg-6 col-md-12 align-center-vertical order-2 order-lg-1">
        <div class="entry-header entry-header-1">
        <div class="entry-meta meta-0 font-small mb-30"><a href="category.html"><span class="post-cat background2 color-white">Technology</span></a></div>
        <h1 class="post-title">
            <a href="single.html">The World Caters to Average People and Mediocre Lifestyles</a>
        </h1>
        <div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
            <span class="post-by">By <a href="author.html">Jonh</a></span>
            <span class="post-on has-dot">9 April 2020</span>
            <span class="time-reading has-dot">8 mins read</span>
            <span class="hit-count"><i class="ti-bolt"></i> 129k Views</span>
        </div>
        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
        <div class="single-social-share clearfix ">
            <div class="entry-meta meta-1 font-small color-grey float-left mt-10">
                <span class="hit-count"><i class="ti-comment mr-5"></i>82 comments</span>
                <span class="hit-count"><i class="ti-heart mr-5"></i>68 likes</span>
                <span class="hit-count"><i class="ti-star mr-5"></i>8/10</span>
            </div>
            <ul class="d-inline-block list-inline float-right">
                <li class="list-inline-item"><a class="social-icon facebook-icon text-xs-center color-white" target="_blank" href="#"><i class="ti-facebook"></i></a></li>
                <li class="list-inline-item"><a class="social-icon twitter-icon text-xs-center color-white" target="_blank" href="#"><i class="ti-twitter-alt"></i></a></li>
                <li class="list-inline-item"><a class="social-icon pinterest-icon text-xs-center color-white" target="_blank" href="#"><i class="ti-pinterest"></i></a></li>
                <li class="list-inline-item"><a class="social-icon instagram-icon text-xs-center color-white" target="_blank" href="#"><i class="ti-instagram"></i></a></li>
            </ul>
        </div>
        </div>
    </div>
    <!--end entry header-->
    <div class="col-lg-6 col-md-12 order-1 order-lg-2">
        <figure class="single-thumnail img-hover-slide mb-0" style="background-image: url(assets/imgs/news-6.jpg)"></figure>
        <span class="top-right-icon background8"><i class="mdi mdi-favorite"></i></span>
    </div>
</div>


</div>