{% extends "main/oriyao_base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
<div class="scroll-progress primary-bg"></div>


<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="text-center">
                <div data-loader="spinner"></div>
                <p>Loading...</p>
            </div>
        </div>
    </div>
</div>

<div class="main-wrap">
    <!--Offcanvas sidebar-->
    {% include "main/module/header_nav.html" %}

    <main class="position-relative">
        <!--Search Form-->
        <div class="main-search-form transition-02s">
            <div class="container">
                <div class="pt-50 pb-50 main-search-form-cover">
                    <div class="row mb-20">
                        <div class="col-12">
                            <form action="#" method="get" class="search-form position-relative">
                                <div class="search-form-icon"><i class="ti-search"></i></div>
                                <label>
                                    <input type="text" class="search_field" placeholder="Enter keywords for search..." value="" name="s">
                                </label>
                                <div class="search-switch">
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><a href="#" class="active">Articles</a></li>
                                        <li class="list-inline-item"><a href="#">Pictures</a></li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 font-small suggested-area">
                            <p class="d-inline font-small suggested"><strong>Suggested:</strong></p>
                            <ul class="list-inline d-inline-block">
                                <li class="list-inline-item"><a href="#">openstack</a></li>
                                <li class="list-inline-item"><a href="#">python</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--main content-->
        {% block main_content %}
        {% endblock %}
    </main>
    {% include "main/module/footer.html" %}
</div>
<!-- Main Wrap End-->

<div class="dark-mark"></div>
{% endblock %}
